<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Student Dashboard in GPA v1.0">
    <meta name="author" content="MnS | Web Solutions">
    <link rel="shortcut icon" href="img/favicon.png">

    <title>Student | Dashboard </title>

    <!-- Bootstrap CSS -->    
    <link href="{{asset('css/bootstrap.min.css')}}" rel="stylesheet">
    
    <!-- bootstrap theme -->
    <link href="{{asset('css/bootstrap-theme.css')}}" rel="stylesheet">
    <!--external css-->
    <!-- font icon -->
    <link href="{{asset('css/elegant-icons-style.css')}}" rel="stylesheet" />
    <link href="{{asset('css/font-awesome.min.css')}}" rel="stylesheet" />    

    <!-- Custom styles -->
    <link href="{{asset('css/style.css')}}" rel="stylesheet">
    <link href="{{asset('css/style-responsive.css')}}" rel="stylesheet" />
    <link href="{{ asset('css/jquery-ui-1.10.4.min.css') }}" rel="stylesheet">

  </head>

  <body>
  <!-- container section start -->
  <section id="container" class="">
     
      
      <header class="header dark-bg">
            <div class="toggle-nav">
                <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"></div>
            </div>

            <!--logo start-->
            <a href="index.html" class="logo"><h4><strong>GPA v1.0<span class="lite"> &nbsp;&nbsp;&nbsp;&nbsp;  Grade Performance Analyzer</strong></h4></span></a>
            <!--logo end-->


            <div class="top-nav notification-row">                
                <!-- notificatoin dropdown start-->
                <ul class="nav pull-right top-menu">
                    
                    <!-- task notificatoin start -->
                    <li id="task_notificatoin_bar" class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <i class="icon-task-l"></i>
                        </a>

                    </li>
                    <!-- task notificatoin end -->
                    
                    <!-- inbox notificatoin start-->
                    <li id="mail_notificatoin_bar" class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <i class="icon-envelope-l"></i>
                        </a>
                    </li>
                    <!-- inbox notificatoin end -->
                    
                    <!-- alert notification start-->
                    <li id="alert_notificatoin_bar" class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <i class="icon-bell-l"></i>
                        </a>
                    </li>
                    <!-- alert notification end-->
                    
                    
                    <!-- user login dropdown start-->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="profile-ava">
                                <img alt="" src="{{asset('img/chat-avatar2.jpg') }}">
                            </span>
                            <span class="username"><strong>{{name}}</strong></span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu extended logout">
                            <div class="log-arrow-up"></div>
                            <li class="eborder-top">
                                <a href="#"><i class="icon_mail_alt"></i> Notifications</a>
                            </li>
                            <li>
                                <a href="{{path('gpa_logout')}}"><i class="icon_key_alt"></i> Log Out</a>
                            </li>
                        </ul>
                    </li>
                    <!-- user login dropdown end -->
                    
                </ul>
                <!-- notificatoin dropdown end-->
                
            </div>          
      </header>      
      <!--header end-->

      
      
      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse " style="width: 210px;">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu">                
                  <li class="active">
                      <a class="" href="{{path('student_dashboard')}}">
                          <i class="icon_house_alt"></i>
                          <span>Dashboard</span>
                      </a>
                  </li>
     
                  <li>
                      <a class="" href="{{path('student_profile')}}">
                          <i class="icon_profile"></i>
                          <span>Profile</span>
                      </a>
                  </li>
                  <li>                     
                      <a class="" href="{{path('student_view_grades')}}">
                          <i class="icon_piechart"></i>
                          <span>View Grades</span>
                          
                      </a>
                                         
                  </li>
                             
                  <li class="sub-menu">
                      <a class="" href="javascript:;">
                          <i class="icon_table"></i>
                          <span>Performance Analysis</span>
                          <span class="menu-arrow arrow_carrot-right"></span>
                      </a>
                      <ul class="sub">
                          <li><a class="" href="{{path('student_gpa_analysis')}}">GPA Analysis</a></li>                          
                          <li><a class="" href="{{path('student_gpa_compare')}}">Compare</a></li>
                      </ul>
                  </li>
                  
                  <li>
                      <a class="" href="{{path('student_predict_gpa')}}">
                          <i class="icon_datareport"></i>
                          <span>GPA Prediction</span>
                          {#<span class="menu-arrow arrow_carrot-right"></span>#}
                      </a>
                  </li>
                  
              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->
      
      
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper" style="margin-left: 30px;">            
              <!--overview start-->
			  <div class="row">
				<div class="col-lg-9">
					<h3 class="page-header"><i class="fa fa-laptop"></i> Dashboard</h3>
					<ol class="breadcrumb">
						<li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
						<li><i class="fa fa-laptop"></i>Dashboard</li>						  	
					</ol>
				</div>
			</div>
              
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <div class="info-box green-bg">
                                <i class="fa fa-chevron-circle-right"></i>
                                <div class="count">
                                    {%if  gpa[0] != null%} {{ gpa[0] }}
                                    {% else %} 0
                                    {% endif %}
                                </div>
                                <div class="title">Overall GPA</div>						
                        </div><!--/.info-box-->			
                </div><!--/.col-->

                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <div class="info-box green-bg">
                                <i class="fa fa-chevron-circle-right"></i>
                                
                                <div class="count">
                                    {%if  currentSGPA != null%} {{ currentSGPA[0] }}
                                    {% else %} 0
                                    {% endif %}
                                </div>
                                <div class="title">Current SGPA <br>Semester &nbsp;&nbsp;&nbsp;{{currentSem}}</div>						
                        </div><!--/.info-box-->			
                </div><!--/.col-->	

                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <div class="info-box red-bg">
                                <i class="fa fa-chevron-circle-right"></i>
                                <div class="count">{{ totalCredits }}</div>
                                <div class="title">Total Credits</div>						
                        </div><!--/.info-box-->			
                </div><!--/.col-->

            </div><!--/.row-->
		 
           {#</div> #} {# chk this closing tag#}
	
			<div class="row">
               	
				<div class="col-lg-9 col-md-12">	
					<div class="panel panel-default">
						<div class="panel-heading">
							<i class="fa fa-square"></i><strong>Semester Performance Analysis</strong>
						</div>
						<div class="panel-body" style="padding-bottom: 0px;">
							<table class="table bootstrap-datatable" style="margin-bottom: 0px;">
								<thead>
									<tr>
										
										<th>Semester #</th>
										<th class="text-center">SGPA</th>
                                                                                <th class="text-center">Cumulative GPA</th>
										<th>Performance (SGPA)</th>
									</tr>
								</thead>   
								<tbody>
									<tr>
										
										<td><strong>1</strong></td>
										<td class="text-center">{{ semStats[0][0]}}</td>
                                                                                <td class="text-center">{{cumulativeStats[0][0]}}</td>
										<td>
											<div class="progress thin" id="progressbar1">
												<div class="progress-bar progress-bar-warning" id="sem1bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:" ></div>
												{#<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="27" aria-valuemin="0" aria-valuemax="100" style="width: 27%">
											  	</div>#}
											</div>
											<span class="sr-only">73%</span>   	
										</td>
									</tr>
									<tr>
										
										<td><strong>2</strong></td>
										<td class="text-center">{{ semStats[1][0]}}</td>
                                                                                <td class="text-center">{{cumulativeStats[1][0]}}</td>
										<td>
											<div class="progress thin">
												<div class="progress-bar progress-bar-warning" id="sem2bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: " ></div>
											</div>
											<span class="sr-only">57%</span>   	
										</td>
									</tr>
									<tr>
										
										<td><strong>3</strong></td>
										<td class="text-center">{{ semStats[2][0]}}</td>
                                                                                <td class="text-center">{{cumulativeStats[2][0]}}</td>
										<td>
											<div class="progress thin">
												<div class="progress-bar progress-bar-warning" id="sem3bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:" ></div>
											</div>
											<span class="sr-only">93%</span>   	
										</td>
									</tr>
									<tr>
										
										<td><strong>4</strong></td>
										<td class="text-center">{{ semStats[3][0]}}</td>
                                                                                <td class="text-center">{{cumulativeStats[3][0]}}</td>
										<td>
											<div class="progress thin">
											  	<div class="progress-bar progress-bar-warning" id="sem4bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:" ></div>
											</div>
											<span class="sr-only">20%</span>   	
										</td>
									</tr>
									<tr>
										
										<td><strong>5</strong></td>
										<td class="text-center">{{ semStats[4][0]}}</td>
                                                                                <td class="text-center">{{cumulativeStats[4][0]}}</td>
										<td>
											<div class="progress thin">
											  	<div class="progress-bar progress-bar-warning" id="sem5bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:" ></div>
											</div>
											<span class="sr-only">20%</span>   	
										</td>
									</tr>
									<tr>
										
										<td><strong>6</strong></td>
										<td class="text-center">{{ semStats[5][0]}}</td>
                                                                                <td class="text-center">{{cumulativeStats[5][0]}}</td>
										<td>
											<div class="progress thin">
											  	<div class="progress-bar progress-bar-warning" id="sem6bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:" ></div>
											</div>
											<span class="sr-only">20%</span>   	
										</td>
									</tr>
									<tr>
										
										<td><strong>7</strong></td>
										<td class="text-center">{{ semStats[6][0]}}</td>
                                                                                <td class="text-center">{{cumulativeStats[6][0]}}</td>
										<td>
											<div class="progress thin">
											  	<div class="progress-bar progress-bar-warning" id="sem7bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:" ></div>
											</div>
											<span class="sr-only">20%</span>   	
										</td>
									</tr>
									<tr>
										
										<td><strong>8</strong></td>
										<td class="text-center">{{ semStats[7][0]}}</td>
                                                                                <td class="text-center">{{cumulativeStats[7][0]}}</td>
										<td>
											<div class="progress thin">
											  	<div class="progress-bar progress-bar-warning" id="sem8bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:" ></div>
											</div>
											<span class="sr-only">20%</span>   	
										</td>
									</tr>
								</tbody>
							</table>
						</div>
	
					</div>	

				</div>
	
                        </div>

                <!-- statics end -->

          </section>
      </section>
      <!--main content end-->
  </section>
  <!-- container section start -->


  
    <!-- javascripts -->
    <script src="{{asset('js/jquery.js')}}" ></script>
    <script src="{{asset('js/jquery-ui-1.10.4.min.js')}}"></script>
    {#<script src="{{asset('js/jquery-1.8.3.min.js')}}"></script> #}
    
    <script src="{{asset('js/jquery-2.1.4.min.js')}}"></script>
    <script src="{{asset('js/jquery-ui-1.9.2.custom.min.js')}}"></script>
    
    <!-- Progressbar  -->
    <script src="{{asset('js/progressbar.js')}}"></script>
    
    <!-- bootstrap -->
    <script src="{{asset('js/bootstrap.min.js')}}"></script>
    
    <!-- progresbar values-->
    <script>
        $(document).ready(function () {
            //var text = $('.Gadget').find('input[name="Percentage"]').val();
            var sem1 = '{{ semStats[0][0]}}'/4.2 * 100;
            $( "#sem1bar" ).css("width", sem1+"%");
            
            var sem2 = '{{ semStats[1][0]}}'/4.2 * 100;
            $( "#sem2bar" ).css("width", sem2+"%");
            
            var sem3 = '{{ semStats[2][0]}}'/4.2 * 100;
            $( "#sem3bar" ).css("width", sem3+"%");
            
            var sem4 = '{{ semStats[3][0]}}'/4.2 * 100;
            $( "#sem4bar" ).css("width", sem4+"%");
            
            var sem5 = '{{ semStats[4][0]}}'/4.2 * 100;
            $( "#sem5bar" ).css("width", sem5+"%");
            
            var sem6 = '{{ semStats[5][0]}}'/4.2 * 100;
            $( "#sem6bar" ).css("width", sem6+"%");
            
            var sem7 = '{{ semStats[6][0]}}'/4.2 * 100;
            $( "#sem7bar" ).css("width", sem7+"%");
            
            var sem8 = '{{ semStats[7][0]}}'/4.2 * 100;
            $( "#sem8bar" ).css("width", sem8+"%");

        });
    </script>
    
    
    <!-- nice scroll -->
    <script src="{{asset('js/jquery.scrollTo.min.js')}}"></script>
    <script src="{{asset('js/jquery.nicescroll.js')}}" type="text/javascript"></script>

        
    <!-- custom select -->
    <script src="{{asset('js/jquery.customSelect.min.js')}}" ></script>

   
    <!--custome script for all page-->
    <script src="{{asset('js/scripts.js')}}"></script>
    
    <!-- custom script for this page-->

    <script src="{{asset('js/jquery-jvectormap-1.2.2.min.js')}}"></script>
    <script src="{{asset('js/jquery-jvectormap-world-mill-en.js')}}"></script>

    <script src="{{asset('js/jquery.autosize.min.js')}}"></script>
    <script src="{{asset('js/jquery.placeholder.min.js')}}"></script>
    <script src="{{asset('js/gdp-data.js')}}"></script>	
    <script src="{{asset('js/morris.min.js')}}"></script>
    <script src="{{asset('js/sparklines.js')}}"></script>	
    <script src="{{asset('js/jquery.slimscroll.min.js')}}"></script>

  </body>
</html>
