<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Student Dashboard in GPA v1.0">
    <meta name="author" content="MnS | Web Solutions">
    <link rel="shortcut icon" href="img/favicon.png">

    <title>Student | Dashboard </title>

    <!-- Bootstrap CSS -->    
    <link href="{{asset('css/bootstrap.min.css')}}" rel="stylesheet">
    
    <!-- bootstrap theme -->
    <link href="{{asset('css/bootstrap-theme.css')}}" rel="stylesheet">
    
    <!--external css-->
    <!-- font icon -->
    <link href="{{asset('css/elegant-icons-style.css')}}" rel="stylesheet" />
    <link href="{{asset('css/font-awesome.min.css')}}" rel="stylesheet" />    

    <!-- Custom styles -->
    <link href="{{asset('css/style.css')}}" rel="stylesheet">
    <link href="{{asset('css/style-responsive.css')}}" rel="stylesheet" />
    <link href="{{ asset('css/jquery-ui-1.10.4.min.css') }}" rel="stylesheet">
    
  </head>

  <body>
  <!-- container section start -->
  <section id="container" class="">
     
      
      <header class="header dark-bg">
            <div class="toggle-nav">
                <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"></div>
            </div>

            <!--logo start-->
            <a href="index.html" class="logo"><h4><strong>GPA v1.0<span class="lite"> &nbsp;&nbsp;&nbsp;&nbsp;  Grade Performance Analyzer</strong></h4></span></a>
            <!--logo end-->


            <div class="top-nav notification-row">                
                <!-- notificatoin dropdown start-->
                <ul class="nav pull-right top-menu">
                    
                    <!-- task notificatoin start -->
                    <li id="task_notificatoin_bar" class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <i class="icon-task-l"></i>
                        </a>

                    </li>
                    <!-- task notificatoin end -->
                    
                    <!-- inbox notificatoin start-->
                    <li id="mail_notificatoin_bar" class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <i class="icon-envelope-l"></i>
                        </a>
                    </li>
                    <!-- inbox notificatoin end -->
                    
                    <!-- alert notification start-->
                    <li id="alert_notificatoin_bar" class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <i class="icon-bell-l"></i>
                        </a>
                    </li>
                    <!-- alert notification end-->
                    
                    
                    <!-- user login dropdown start-->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="profile-ava">
                                <img alt="" src="{{asset('img/chat-avatar2.jpg') }}">
                            </span>
                            <span class="username"><strong>{{name}}</strong></span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu extended logout">
                            <div class="log-arrow-up"></div>
                            <li class="eborder-top">
                                <a href="#"><i class="icon_mail_alt"></i> Notifications</a>
                            </li>
                            <li>
                                <a href="{{path('gpa_logout')}}"><i class="icon_key_alt"></i> Log Out</a>
                            </li>
                        </ul>
                    </li>
                    <!-- user login dropdown end -->
                    
                </ul>
                <!-- notificatoin dropdown end-->
                
            </div>          
      </header>      
      <!--header end-->

      
      
      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse " style="width: 210px;">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu">                
                  <li>
                      <a class="" href="{{path('student_dashboard')}}">
                          <i class="icon_house_alt"></i>
                          <span>Dashboard</span>
                      </a>
                  </li>
     
                  <li>
                      <a class="" href="{{path('student_profile')}}">
                          <i class="icon_profile"></i>
                          <span>Profile</span>
                      </a>
                  </li>
                  <li class="">                     
                      <a class="" href="{{path('student_view_grades')}}">
                          <i class="icon_piechart"></i>
                          <span>View Grades</span>
                          
                      </a>
                                         
                  </li>
                             
                  <li class="sub-menu">
                      <a class="" href="javascript:;">
                          <i class="icon_table"></i>
                          <span>Performance Analysis</span>
                         {# <span class="menu-arrow arrow_carrot-right"></span>#}
                      </a>
                      <ul class="sub">
                          <li><a class="" href="">SGPA Statistics</a></li>                          
                          <li><a class="" href="">Curves</a></li>
                      </ul>
                  </li>
                  
                  <li class="active">
                      <a  href="{{path('student_predict_gpa')}}" >
                          <i class="icon_datareport"></i>
                          <span>GPA Prediction</span>
                      </a>
                  </li>
                  
              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->
      
      
      <!--main content start-->
        <section id="main-content">
            <section class="wrapper" style="margin-left: 30px;">            
              <!--overview start-->
                <div class="row">
                    <div class="col-lg-9">
                            <h3 class="page-header"><i class="fa fa-tachometer"></i> GPA Prediction (beta)</h3>
                            <ol class="breadcrumb">
                                    <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
                                    <li><i class="fa fa-tachometer"></i>GPA Prediction</li>						  	
                            </ol>
                    </div>
                </div>

                <!-- statics end -->

          </section>
      </section>
      <!--main content end-->
  </section>
  <!-- container section start -->

    

<!-- javascripts -->
<script src="{{asset('js/jquery.js')}}"></script>
<script src="{{asset('js/bootstrap.min.js')}}"></script>

<!-- Progressbar  -->
<script src="{{asset('js/progressbar.js')}}"></script>

<!-- nice scroll -->
<script src="{{asset('js/jquery.scrollTo.min.js')}}"></script>
<script src="{{asset('js/jquery.nicescroll.js')}}" type="text/javascript"></script>

<!--custome script for all page-->
<script src="{{asset('js/scripts.js')}}"></script>


  </body>
</html>


